/*первый слайд*/

body {
    margin: 0 0 0 5%;
    font-family: Verdana, sans-serif;
}


#firstSlide {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.8)), url("multimedia/firstBackground.jpeg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    color: white;
}


.fixedMainMenu {
    height: 100vh;
    background-color: #DCDCDC;
    position: fixed;
    width: 5%;
    left: 0;
    color: gray;
}

.fixedMainMenu p {
    text-align: center;
}

.social p {
    margin: 0 0 0 0;
    padding: 0;
    display: inline-block;
}

.social{
    transform: rotate(270deg);
    position: fixed;
    top: 70%;
    left: -6.5%;
    opacity: 0.5;
}



.logo {
    width: 45%;
    text-align: left;
    display: inline-block;
    margin: 2% 0 0 3%;
}

.logo h2 {
    margin: 0;
}

.contact {
    width: 45%;
    text-align: right;
    display: inline-block;
    margin: 2% 3% 0 0;
}

.contact a{
    text-decoration: none;
    color: white;
}

.contact a:hover{
    color: mediumspringgreen;
}

nav {
    width: 100%;
}

.headlines {
    margin: 7% 0 0 3%;
    width: 50%;
}

.removeMarkerForList {
    list-style-type: none;
}

.listOfServices {
    width: 60%;
    margin-top: 7%;
}

.listOfServices li:hover{
    color: mediumspringgreen;
}

.listOfServices li {
    border-bottom: 1px solid azure;
    width: 30%;
    margin: 1%;
    display: inline-block;
    list-style-type: none;
}

.fixedButton {
    position: absolute;
    bottom: 1.5%;
    left: 80%;
    color: azure;
}

.fixedButton a {
    width: 98%;
    color: white;
    text-decoration: none;
    padding: 15px;
    margin-bottom: 15px;
    background-color: mediumspringgreen;
}

.coloredAllBasicColor {
    color: mediumspringgreen;
}


/*второй слайд*/


#secondSlide {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5)), url("multimedia/secondBackground.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

.divInLine {
    display: inline-block;
    width: 45%;
}

.overlay {
    height: 100%;
}

#nubexDiv {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
    display: inline-block;
}

#nubexVideo {
    top: 0;
    left: 0;
    position: relative;
    width: 70%;
    height: 90%;
    min-width: 50%;
    min-height: 100%;
}

.contentForVideo {
    position: relative;
    top: -30%;
    bottom: 0;
    left: 0;
    right: 0;
}

.coloredBlocks {
    background-color: gainsboro;
    text-align: center;
    margin: 10px;
}

.textOnCenter {
    text-align: center;
}


.contentForVideo p {
    margin: 5%;
}

.changeSize {
    font-size: 35px;
}

.changeSize i {
    margin: 10px;
}

/*карусель*/

.owl-pagination {
    position: absolute;
    top: 45%;
    left: 92%;
    /*text-align: center; !* Выравниваем точки по-середине *!*/
}

/* 1 Точка */
.owl-page {
    width: 10px;
    height: 10px;
    border: 1px solid mediumspringgreen;
    display: inline-block;
    background: white;
    margin: 10px;
    border-radius: 5px;
}

/* Активная точка */
.owl-page.active {
    background: mediumspringgreen;
}

.carouselDiv {
    display: inline-block;
    width: 46%;
    text-align: center;
}

.contentForCarousel {
    display: inline-block;
    width: 46%;
    text-align: center;
    vertical-align: top;
    font-size: 50px;

}

.arrow {
    position: relative;
    left: 80%;
    top: -350px;
    /*position: relative;*/
    /*top: -350px;*/
    /*left: 210px;*/
    width: 100px;
}

.js-prev, .js-next, .jsprev, .jsnext {
    font-size: 20px;
    margin: 0;
    background-color: #FFFFFF;
    padding: 10px;
}


#thirdSlide h1 {
    text-align: center;
    margin: 50px 0 50px 0;
    font-size: 250%;
}

/*footer*/

.flex-container {
    display: flex;
    justify-content: space-around;
    padding: 70px 0 70px 0;
    text-align: center;
}

footer {
    background-color: #778899;
}